.driver-card{
  background-color: rgba(255, 250, 248);
  border: 1px solid gray;
  border-radius: 5px;
  margin: 20px;
  width: 340px;
  box-shadow: 2px 2px 12px gray;
}
.card-image{
  width: 90%;
  height: 200px;
  margin-left: 15px;
  margin-top: 20px;
  border-radius: 20px;
  border: none;
  box-shadow: 1px 1px 2px gray;
}
.driver-details{
  text-align: center;
  padding: 20px;
}

.driver-details button{
  margin-top: 20px;
  background-color: rgb(245, 159, 0);
  padding: 6px;
  margin-left: 10px;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  font-weight: 400px;
  font-size: 20px;
  width: 150px;
  margin-bottom: 10px;
  text-shadow: 2px 2px 2px gray;
}
.button-text{
  color: rgb(255, 255, 255);
  margin-left: 5px;
  font-weight: 600;
  text-shadow: 2px 1px 2px gray;
}
.rating-icon{
  color: rgb(235, 199, 0);
  padding: 2px;
}